.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.todo-list {
  min-width: 240px;
    float: left;
    width: 18%;
    background: #82B1FF;
    margin: 10px 1.5% 0 1.5%;
    border-left: 1% solid #D4A464;
    padding: 2%;
}